.grid-item {
    text-align: center;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: calc(100% - 70px); /* Adjust width for sidebar */
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}


.calendar-container {
    margin-top: 20px;
}

