body {
  margin: 0;
  padding: 0;
}

.header {
  height: 40px;
  background-color: #FFA800;
}

.logout-icon a {
  color: #ffffff; 
  font-size: 20px; 
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.logout-icon a:hover {
  color: #cccccc; 
  text-decoration: none; 
}

  
  
  .navbar {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .navbar .profile {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .navbar .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar .menu li {
    margin-right: 20px;
    
  }
  
  
  .navbar .menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .navbar .rest {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .add-offer-button {
    background-color: #0166FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
  }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
    .skiller-section {
      position: relative;
      text-align: center;
      padding: 20px;
    }
  
  .request {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  }
  
  .request p {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
  }
  
  .request button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #FFA800;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
  }
  
  .request button.rejected {
    margin-left: 40px;
      background-color: #0166FF;
  }
  
  

  
  .search-icon {
    padding: 10px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -400px;
    top: 13%;
    width: 300px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .search-box.active {
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  .search-box input[type="text"] {
    width: 100%;
    height: 40%;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: #333;
  }
  
  .search-box input[type="text"]::placeholder {
    color: #aaa;
  }
  
  .search-box input[type="text"]::-webkit-search-cancel-button {
    appearance: none;
  }
  
  .search-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 0 25px 25px 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-box button:hover {
    background-color: #0056b3;
  }


  .no-requests {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
  }

  .no-requests p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
  }